@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */
@import "@reach/skip-nav/styles";
/* purgecss end ignore */

#ignite {
  .search-results {
    max-height: calc(100vh - 64px);
  }

  @screen lg {
    .search-results {
      max-height: 80vh;
    }
  }

  .small-blog-card:hover .content-fade {
    @apply from-gray-100 dark:from-gray-900;
  }

  .big-blog-card:hover .content-fade {
    @apply from-gray-900 via-gray-700 to-gray-600;
  }

  .blog-description {
    margin: 0;
  }

  .big-blog-card .blog-description,
  .big-blog-card .blog-description *:not(code) {
    color: theme("colors.gray.100") !important;
  }

  .blockquote > *:first-child {
    @apply mt-0;
  }

  .blockquote > *:last-child {
    @apply mb-0;
  }

  .ul li {
    @apply list-disc ml-6;
  }

  .ol li {
    @apply list-decimal ml-6;
  }

  tbody .tr:nth-child(odd) {
    @apply bg-gray-100;
  }

  .sidebar-root ul ul {
    padding-left: 10px;
  }

  .sidebar-root ul + p {
    @apply mt-8;
  }

  @screen lg {
    .sidebar-items {
      height: calc(100vh - 4rem);
    }
  }

  .lvl1 code {
    font-size: calc(theme("fontSize.3xl") * 0.93);
  }

  @screen lg {
    .lvl1 code {
      font-size: calc(theme("fontSize.4xl") * 0.93);
    }
  }

  .lvl2 code {
    font-size: calc(theme("fontSize.2xl") * 0.93);
  }

  @screen lg {
    .lvl2 code {
      font-size: calc(theme("fontSize.3xl") * 0.93);
    }
  }

  .lvl3 code {
    font-size: calc(theme("fontSize.xl") * 0.93);
  }

  @screen lg {
    .lvl3 code {
      font-size: calc(theme("fontSize.2xl") * 0.93);
    }
  }

  .lvl4 code {
    font-size: calc(1theme ("fontSize.xl") * 0.93);
  }

  .lvl5 code {
    font-size: calc(theme("fontSize.lg") * 0.93);
  }

  .lvl6 code {
    font-size: calc(theme("fontSize.base") * 0.93);
  }

  p > code {
    font-size: 0.9rem;
  }

  h1 > code {
    font-size: 2rem;
  }

  table code {
    @apply whitespace-nowrap;
  }

  .search-result:hover .search-content {
    @apply bg-gray-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 6rem;
  }
}

@media (prefers-color-scheme: dark) {
  #ignite {
    @apply text-gray-400;

    tbody .tr:nth-child(odd) {
      @apply bg-gray-900;
    }

    .search-result:hover .search-content {
      @apply bg-gray-800;
    }
  }
}

html {
  @apply dark:bg-gray-1000;
}
