@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@reach/skip-nav/styles";

#ignite {
  .blockquote > *:first-child {
    @apply mt-0;
  }

  .blockquote > *:last-child {
    @apply mb-0;
  }

  .ul li {
    @apply list-disc ml-6;
  }

  .ol li {
    @apply list-decimal ml-6;
  }

  tbody .tr:nth-child(odd) {
    @apply bg-gray-100;
  }

  .sidebar-root ul ul {
    padding-left: 10px;
  }

  .sidebar-root ul + p {
    @apply mt-8;
  }

  .lvl1 code {
    font-size: calc(3rem * 0.93);
  }

  .lvl2 code {
    font-size: calc(1.875rem * 0.93);
  }

  .lvl3 code {
    font-size: calc(1.5rem * 0.93);
  }

  .lvl4 code {
    font-size: calc(1.25rem * 0.93);
  }

  .lvl5 code {
    font-size: calc(1.125rem * 0.93);
  }

  .lvl6 code {
    font-size: calc(1rem * 0.93);
  }

  p > code {
    font-size: 0.9rem;
  }

  table code {
    @apply whitespace-nowrap;
  }
}

@media (prefers-color-scheme: dark) {
  #ignite {
    @apply text-gray-400;

    tbody .tr:nth-child(odd) {
      @apply bg-gray-900;
    }
  }
}
